n8n_flows/Notizen und Historie.json
{
  "name": "Notizen und Historie",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "query"
            },
            {
              "name": "sessionId"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        352,
        96
      ],
      "id": "aa81ccac-d566-4ee3-9574-b183f4226a3e",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.query }}",
        "options": {
          "systemMessage": "Du bist ein sub-Agent, der die Anweisungen des Orchestrierenden Agents ausfüllen soll. Dafür hast du verschiedene Tols zur Verfügung, die auf eine Datenbank zugreifen können. Dein Aufgabenbereich ist das speichern von Notizen und Interaktionshistorien. Du befasst dich nur mit Anfragen, die mit Notizen oder Interaktionshistorien zu tun haben.\n\n# Kontext\n\n- Benutze ausschließlich folgende Tabellen \n   - buyer: zum Abfragen der Käufer und Suchkunden ID\n   - note: zum anlegen, ändern und löschen von Notizen und Interaktionen\n\n\n# Wichtige Hinweise\n\n- wandle alle Zahlangaben in integer um. Also 1 Mio. zu 1000000\n- Wenn eine Anfrage nichts mit Notizen oder Interaktionen zu tun hat, weise sie zurück\n- arbeite nur in den dir zugewiesenen Tabellen\n- Frage bei unklaren Anweisungen nach, bevor du Sie ausführst\n- Frage bei nicht optionalen fehlenden Feldern nach",
          "maxIterations": 20
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        560,
        96
      ],
      "id": "d27eb090-e81b-43b5-9d5a-ef868d2c0090",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "o4-mini",
          "mode": "list",
          "cachedResultName": "o4-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        560,
        272
      ],
      "id": "271bfc9e-7d91-43a1-9597-b631285c7985",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "YZOe1waidn1SL6WV",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "endpointUrl": "http://0.0.0.0:8000/mcp",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1.2,
      "position": [
        816,
        320
      ],
      "id": "47129b57-4b75-4b75-be85-dcb6582b55b8",
      "name": "MCP Client"
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "MCP Client": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f55ebc7d-f1a2-4ded-8e0e-bed4ec47307b",
  "meta": {
    "instanceId": "8b34504e4bd5854a9d1e0726b3d131547fec992dbd99b1ba3475ebea2df79b06"
  },
  "id": "ouKlgfT8JEdQdGJd",
  "tags": []
}